/Audios_ES
*.wav
/Audios_ES/*.wav
Train_Audio.ipynb
Train_Audio_Real_Texto_ES.ipynb
/whisper-finetuned-transcipt-es
/whisper-finetuned-transcipt-es_retrain
/modelo_minimo
/models_text_sentiment
Analisis_Sentimientos.ipynb